In [2]:
# dependency
import pandas as pd
from sqlalchemy import create_engine
import json
from re import search
import numpy as np

In [3]:
from config import postgrepass

In [3]:
# read data from csv file to df
resorts_df = pd.read_csv('data/all_resorts.csv')
resorts_df.head()

,Unnamed: 0,name,link,price,closest_town,region,zip,coordinates,total_len,easy_len,intermediate_len,difficult_len
0,0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,81658,"[-106.497314, 39.624171]",234.0,57.0,84.0,93.0
1,1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,81435,"[-107.88874, 37.932874]",88.2,6.7,51.7,29.8
2,2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,81658,"[-106.497314, 39.624171]",150.0,28.5,64.5,57.0
3,3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,93546,"[-118.86279, 37.621587]",89.8,18.4,48.5,22.9
4,4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,81612,"[-106.882774, 39.223416]",237.0,12.0,114.0,111.0

In [4]:
resorts_df.fillna(np.NaN)
resorts_df['coordinates'] = resorts_df['coordinates'].fillna("")
resorts_df

,Unnamed: 0,name,link,price,closest_town,region,zip,coordinates,total_len,easy_len,intermediate_len,difficult_len
0,0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,81658,"[-106.497314, 39.624171]",234.0,57.0,84.0,93.0
1,1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,81435,"[-107.88874, 37.932874]",88.2,6.7,51.7,29.8
2,2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,81658,"[-106.497314, 39.624171]",150.0,28.5,64.5,57.0
3,3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,93546,"[-118.86279, 37.621587]",89.8,18.4,48.5,22.9
4,4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,81612,"[-106.882774, 39.223416]",237.0,12.0,114.0,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...
518,518,Sierra Summit,https://www.skiresort.info/ski-resort/sierra-s...,NaN,NaN,info@skiresort-service.com,NaN,,NaN,NaN,NaN,NaN
519,519,Lynx Creek,https://www.skiresort.info/ski-resort/lynx-creek/,NaN,NaN,info@skiresort-service.com,NaN,,NaN,NaN,NaN,NaN
520,520,Fairmont Hot Springs â€“ Fairmont,https://www.skiresort.info/ski-resort/fairmont...,NaN,NaN,info@skiresort-service.com,NaN,,NaN,NaN,NaN,NaN
521,521,Plumtree Ski Hill (Fawnridge),https://www.skiresort.info/ski-resort/plumtree...,NaN,NaN,info@skiresort-service.com,NaN,,NaN,NaN,NaN,NaN
522,522,Black Rapid,https://www.skiresort.info/ski-resort/black-ra...,NaN,NaN,info@skiresort-service.com,NaN,,NaN,NaN,NaN,NaN

In [5]:
# remove space before and after resorts name
names = list(resorts_df['name'])
newNames = []

for ind in range(len(names)):
    newNames.append(names[ind].strip())

In [6]:
# add name without space to df
resorts_df['newNames'] = newNames
resorts_df.head()

,Unnamed: 0,name,link,price,closest_town,region,zip,coordinates,total_len,easy_len,intermediate_len,difficult_len,newNames
0,0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,81658,"[-106.497314, 39.624171]",234.0,57.0,84.0,93.0,Vail
1,1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,81435,"[-107.88874, 37.932874]",88.2,6.7,51.7,29.8,Telluride
2,2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,81658,"[-106.497314, 39.624171]",150.0,28.5,64.5,57.0,Beaver Creek
3,3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,93546,"[-118.86279, 37.621587]",89.8,18.4,48.5,22.9,Mammoth Mountain
4,4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,81612,"[-106.882774, 39.223416]",237.0,12.0,114.0,111.0,Snowmass

In [7]:
# remove extra column and reorder columns
resorts_df.drop(columns=['Unnamed: 0', 'name'], inplace=True)
resorts_df.rename(columns={'newNames': 'name'}, inplace=True)
resorts_df = resorts_df[['name', 'link', 'price', 'closest_town', 'region', 'zip', 'coordinates', 'total_len', 'easy_len',    'intermediate_len', 'difficult_len']]
resorts_df.head()

,name,link,price,closest_town,region,zip,coordinates,total_len,easy_len,intermediate_len,difficult_len
0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,81658,"[-106.497314, 39.624171]",234.0,57.0,84.0,93.0
1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,81435,"[-107.88874, 37.932874]",88.2,6.7,51.7,29.8
2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,81658,"[-106.497314, 39.624171]",150.0,28.5,64.5,57.0
3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,93546,"[-118.86279, 37.621587]",89.8,18.4,48.5,22.9
4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,81612,"[-106.882774, 39.223416]",237.0,12.0,114.0,111.0

In [8]:
# Extraxct coordinates and turn them in to variable lat and lon
lat = []
lon = []

for i in range(len(resorts_df['coordinates'])):
    coordinates = resorts_df['coordinates'][i].split(",")
    if resorts_df['coordinates'][i] != "":
    # != np.NaN:        
        temp_lat = float(coordinates[0][1:len(coordinates[0])-1])
        temp_lon = float(coordinates[1][1:len(coordinates[1])-1])

        lon.append(temp_lon)
        lat.append(temp_lat)
    else:
        lon.append(np.NaN)
        lat.append(np.NaN)
 
resorts_df['lat'] = lat
resorts_df['lon'] = lon

In [9]:
resorts_df["lat"] = resorts_df["lat"].astype("float")
resorts_df["lon"] = resorts_df["lon"].astype("float")

In [10]:
# read weather csv in df 
weather_data = pd.read_csv("data/city_weather.csv")
weather_df = pd.DataFrame(weather_data)

In [11]:
# remove duplicates
new_weather = weather_df.drop_duplicates(subset=['closest_town'])

In [12]:
resorts_info = pd.merge(resorts_df, new_weather, on='closest_town', how='left')

In [4]:
# Set up connection to DB
db_path = f'postgresql://postgres:{postgrepass}@localhost:5432/SkiResorts'
engine = create_engine(db_path)
conn = engine.connect()

In [14]:
# Upload data to DB 
resorts_info.to_sql('resorts_info', conn, if_exists='replace')

In [15]:
# save data to csv just for case
resorts_info.to_csv('complete_resorts_info.csv')

In [7]:
# upload location csv to postgresql
f = open('data/ski_areas.geojson', encoding="utf-8")
data = json.load(f)
locations = []

for i in range(len(data['features'])):
    country = '' 
    if data['features'][i]['properties']['location'] is not None:
        country = data['features'][i]['properties']['location']['iso3166_1Alpha2']

    name = ""
    if data['features'][i]['properties']['name'] is not None:
        name = data['features'][i]['properties']['name']

    # exclude crosscountry from data
    croscountry = 'Nordic'
    if (croscountry not in name) and (country == 'US'):
        locations.append({'name': name
                            #,'geometry': data['features'][i]['geometry']['coordinates']
                            , 'state': data['features'][i]['properties']['location']['localized']['en']['region']
                            , 'website': data['features'][i]['properties']['website']})

f.close()

In [8]:
#  upload locations to df
locations_df = pd.DataFrame(locations)
locations_df = locations_df.fillna(np.NaN)

In [9]:
# upload df to postgresql
locations_df.to_sql('locations', conn)