In [3]:
# dependency
import pandas as pd
from sqlalchemy import create_engine
import json
from re import search
import numpy as np

In [2]:
from config import postgrepass

In [4]:
# read data from csv file to df
resorts_df = pd.read_csv('static/data/resorts.csv')
# fillna with unknown value for future manipulations
resorts_df.fillna(np.NaN)
resorts_df.head()

,Unnamed: 0,name,link,price,closest_town,region,total_len,easy_len,intermediate_len,difficult_len
0,0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,234.0,57.0,84.0,93.0
1,1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,88.2,6.7,51.7,29.8
2,2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,150.0,28.5,64.5,57.0
3,3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,89.8,18.4,48.5,22.9
4,4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,237.0,12.0,114.0,111.0

In [5]:
resorts_df['price'] = resorts_df['price'].astype("float")
resorts_df['total_len'] = resorts_df['total_len'].astype("float")
resorts_df['easy_len'] = resorts_df['easy_len'].astype("float")
resorts_df['intermediate_len'] = resorts_df['intermediate_len'].astype("float")
resorts_df['difficult_len'] = resorts_df['difficult_len'].astype("float")

In [6]:
# with part should be moved to scraping.ipynb
names = list(resorts_df['name'])
newNames = []

for ind in range(len(names)):
    newNames.append(names[ind].strip())

In [7]:
# add name without space to df
resorts_df['newNames'] = newNames
resorts_df.head()

,Unnamed: 0,name,link,price,closest_town,region,total_len,easy_len,intermediate_len,difficult_len,newNames
0,0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,234.0,57.0,84.0,93.0,Vail
1,1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,88.2,6.7,51.7,29.8,Telluride
2,2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,150.0,28.5,64.5,57.0,Beaver Creek
3,3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,89.8,18.4,48.5,22.9,Mammoth Mountain
4,4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,237.0,12.0,114.0,111.0,Snowmass

In [ ]:
resorts_df.columns

In [8]:
resorts_df.dtypes

Unnamed: 0            int64
name                 object
link                 object
price               float64
closest_town         object
region               object
total_len           float64
easy_len            float64
intermediate_len    float64
difficult_len       float64
newNames             object
dtype: object

In [9]:
# remove extra column and reorder columns
resorts_df.drop(columns=['Unnamed: 0', 'name'], inplace=True)
resorts_df.rename(columns={'newNames': 'name'}, inplace=True)
resorts_df = resorts_df[['name', 'link', 'price', 'closest_town', 'region', 'total_len', 'easy_len'                                     ,'intermediate_len', 'difficult_len']]
resorts_df.head()

,name,link,price,closest_town,region,total_len,easy_len,intermediate_len,difficult_len
0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,234.0,57.0,84.0,93.0
1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,88.2,6.7,51.7,29.8
2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,150.0,28.5,64.5,57.0
3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,89.8,18.4,48.5,22.9
4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,237.0,12.0,114.0,111.0

In [10]:
# read data from ski_area.geojson 
f = open('static/data/ski_areas.geojson', encoding="utf-8")
data = json.load(f)
locations = []

for i in range(len(data['features'])):
    country = '' 
    if data['features'][i]['properties']['location'] is not None:
        country = data['features'][i]['properties']['location']['iso3166_1Alpha2']

    name = ""
    if data['features'][i]['properties']['name'] is not None:
        name = data['features'][i]['properties']['name']

    # exclude crosscountry from data
    croscountry = 'Nordic'
    if (croscountry not in name) and (country == 'US'):
        locations.append({'name': name
                            ,'geometry': data['features'][i]['geometry']['coordinates']
                            , 'state': data['features'][i]['properties']['location']['localized']['en']['region']
                            , 'website': data['features'][i]['properties']['website']})

f.close()

In [11]:
#  upload locations to df
locations_df = pd.DataFrame(locations)
locations_df = locations_df.fillna(np.NaN)
locations_df.head()

,name,geometry,state,website
0,Summit Ranger District Ski Trails,"[-119.94166461319604, 38.181344668241906]",California,https://www.pinecrestnordic.org/
1,Mount Pinos Winter Sports Area,"[-119.11840321868132, 34.81349084560443]",California,https://www.nordicbase.org/
2,Great Brook Ski Touring Center,"[-71.34426978240515, 42.5568498331646]",NaN,http://www.greatbrookski.com
3,Pajarito Mountain,"[-106.39205836478088, 35.89077152616687]",New Mexico,NaN
4,Ski Apache,"[-105.80167005041056, 33.39417520853858]",New Mexico,NaN

In [12]:
lat = []
lon = []

for i in range(len(locations_df['geometry'])):
    if locations_df['geometry'][i] != np.NaN:
        lon.append(locations_df['geometry'][i][1])
        lat.append(locations_df['geometry'][i][0])
    else:
        lon.append(np.NaN)
        lat.append(np.Nan)
 
locations_df['Latitude'] = lat
locations_df['Longtitude'] = lon

In [19]:
# locations_df

In [23]:
# Add weather df
weather_data = pd.read_csv("static/data/city_weather.csv")
weather_df = pd.DataFrame(weather_data)
weather_df

,city,date,time,latitude,longitude,temperature,feels_like,temp_min,temp_max,temp_description,humidity,cloudiness,wind_speed,daily_chance_snow,hourly_chance_snow
0,Vail,02/20/21,22:05:00,32.0479,-110.7120,296.85,290.71,294.82,298.71,scattered clouds,7,46,4.02,0,0
1,Mountain Village,02/20/21,14:05:00,37.9314,-107.8565,276.51,266.23,276.15,277.04,clear sky,22,1,9.77,12,0
2,Mammoth Lakes,02/20/21,13:05:00,37.6485,-118.9721,272.60,265.00,271.48,274.15,clear sky,37,1,6.17,42,32
3,Snowmass Village,02/20/21,14:05:00,39.2130,-106.9378,275.23,269.84,272.59,278.15,broken clouds,33,75,3.09,23,0
4,Breckenridge,02/20/21,15:05:00,32.7557,-98.9023,289.46,282.67,288.71,290.15,clear sky,31,1,6.69,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,Reno,02/20/21,13:05:00,39.5296,-119.8138,276.96,269.39,275.37,278.71,broken clouds,42,75,6.69,21,0
445,Leesburg,02/20/21,16:08:00,39.1157,-77.5636,271.01,262.48,269.82,272.15,overcast clouds,51,90,7.72,20,0
446,Eagle,02/20/21,15:08:00,43.6954,-116.3540,276.61,273.75,275.93,277.15,few clouds,100,20,2.06,0,0
447,Winter Park,02/20/21,16:05:00,28.6000,-81.3392,292.23,288.55,291.48,293.15,clear sky,39,1,3.60,0,0
448,Florence,02/20/21,22:08:00,43.7667,11.2500,281.82,279.46,280.15,283.71,clear sky,93,0,2.57,0,0

In [14]:
# merge two df in one
full_resort_data_df = pd.merge(resorts_df, locations_df, on='name', how='left')
full_resort_data_df.head()

,name,link,price,closest_town,region,total_len,easy_len,intermediate_len,difficult_len,geometry,state,website,Latitude,Longtitude
0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,234.0,57.0,84.0,93.0,"[-106.35805314076724, 39.60991962505997]",NaN,http://www.vail.snow.com,-106.358053,39.609920
1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,88.2,6.7,51.7,29.8,"[-107.83598933345762, 37.92046244915704]",Colorado,http://tellurideskiresort.com/,-107.835989,37.920462
2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,150.0,28.5,64.5,57.0,NaN,NaN,NaN,NaN,NaN
3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,89.8,18.4,48.5,22.9,"[-119.02132555986691, 37.64096495905402]",California,http://www.mammothmountain.com/,-119.021326,37.640965
4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,237.0,12.0,114.0,111.0,"[-106.95106028636194, 39.18914819590207]",Colorado,http://www.aspensnowmass.com,-106.951060,39.189148

In [15]:
#  fillna with 'Empty' for future manipulations

full_resort_data_df = full_resort_data_df.fillna(np.NaN)

In [16]:
# Set up connection to DB
db_path = f'postgresql://postgres:{postgrepass}@localhost:5432/SkiResorts'
engine = create_engine(db_path)
conn = engine.connect()

In [17]:
# Upload data to DB 
full_resort_data_df.to_sql('resorts_info', conn, if_exists='replace')
locations_df.to_sql('locations', conn, if_exists='replace')

In [18]:
full_resort_data_df.to_csv('resorts_info.csv')