In [1]:
# dependency
import pandas as pd
from sqlalchemy import create_engine
import json
from re import search

In [2]:
from config import postgrepass

In [3]:
# Create connection to DB
db_path = f'postgresql://postgres:{postgrepass}@localhost:5432/new_word_study'
engine = create_engine(db_path)
conn = engine.connect()

In [4]:
# read data from csv file to df
resorts_df = pd.read_csv('static/data/resorts.csv')
# fillna with unknown value for future manipulations
resorts_df.fillna('Unknown')
resorts_df.head()

,Unnamed: 0,name,link,price,closest_town,region,total_len,easy_len,intermediate_len,difficult_len
0,0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,234.0,57.0,84.0,93.0
1,1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,88.2,6.7,51.7,29.8
2,2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,150.0,28.5,64.5,57.0
3,3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,89.8,18.4,48.5,22.9
4,4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,237.0,12.0,114.0,111.0

In [5]:
# with part should be moved to scraping.ipynb
names = list(resorts_df['name'])
newNames = []

for ind in range(len(names)):
    newNames.append(names[ind].strip())

In [6]:
# add name without space to df
resorts_df['newNames'] = newNames
resorts_df.head()

,Unnamed: 0,name,link,price,closest_town,region,total_len,easy_len,intermediate_len,difficult_len,newNames
0,0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,234.0,57.0,84.0,93.0,Vail
1,1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,88.2,6.7,51.7,29.8,Telluride
2,2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,150.0,28.5,64.5,57.0,Beaver Creek
3,3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,89.8,18.4,48.5,22.9,Mammoth Mountain
4,4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,237.0,12.0,114.0,111.0,Snowmass

In [ ]:
resorts_df.columns

In [7]:
# remove extra column and reorder columns
resorts_df.drop(columns=['Unnamed: 0', 'name'], inplace=True)
resorts_df.rename(columns={'newNames': 'name'}, inplace=True)
resorts_df = resorts_df[['name', 'link', 'price', 'closest_town', 'region', 'total_len', 'easy_len'                                     ,'intermediate_len', 'difficult_len']]
resorts_df.head()

,name,link,price,closest_town,region,total_len,easy_len,intermediate_len,difficult_len
0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,234.0,57.0,84.0,93.0
1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,88.2,6.7,51.7,29.8
2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,150.0,28.5,64.5,57.0
3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,89.8,18.4,48.5,22.9
4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,237.0,12.0,114.0,111.0

In [8]:
# read data from ski_area.geojson 
f = open('static/data/ski_areas.geojson', encoding="utf-8")
data = json.load(f)
locations = []

for i in range(len(data['features'])):
    country = '' 
    if data['features'][i]['properties']['location'] is not None:
        country = data['features'][i]['properties']['location']['iso3166_1Alpha2']

    name = ""
    if data['features'][i]['properties']['name'] is not None:
        name = data['features'][i]['properties']['name']

    # exclude crosscountry from data
    croscountry = 'Nordic'
    if (croscountry not in name) and (country == 'US'):
        locations.append({'name': name
                            ,'geometry': data['features'][i]['geometry']['coordinates']
                            , 'state': data['features'][i]['properties']['location']['localized']['en']['region']
                            , 'website': data['features'][i]['properties']['website']})

f.close()

In [9]:
#  upload locations to df
locations_df = pd.DataFrame(locations)
locations_df = locations_df.fillna('Unknown')
locations_df.head()

,name,geometry,state,website
0,Summit Ranger District Ski Trails,"[-119.94166461319604, 38.181344668241906]",California,https://www.pinecrestnordic.org/
1,Mount Pinos Winter Sports Area,"[-119.11840321868132, 34.81349084560443]",California,https://www.nordicbase.org/
2,Great Brook Ski Touring Center,"[-71.34426978240515, 42.5568498331646]",Unknown,http://www.greatbrookski.com
3,Pajarito Mountain,"[-106.39205836478088, 35.89077152616687]",New Mexico,Unknown
4,Ski Apache,"[-105.80167005041056, 33.39417520853858]",New Mexico,Unknown

In [10]:
lat = []
lon = []

for i in range(len(locations_df['geometry'])):
    if locations_df['geometry'][i] != 'Empty' or locations_df['geometry'][i] != "Unknown":
        lon.append(locations_df['geometry'][i][1])
        lat.append(locations_df['geometry'][i][0])
    else:
        lon.append('Unknown')
        lat.append('Unknown')
 
locations_df['Latitude'] = lat
locations_df['Longtitude'] = lon

In [ ]:
locations_df

In [11]:
# merge two df in one
full_resort_data_df = pd.merge(resorts_df, locations_df, on='name', how='left')
full_resort_data_df.head()

,name,link,price,closest_town,region,total_len,easy_len,intermediate_len,difficult_len,geometry,state,website,Latitude,Longtitude
0,Vail,https://www.skiresort.info/ski-resort/vail/,219.0,Vail,Colorado,234.0,57.0,84.0,93.0,"[-106.35805314076724, 39.60991962505997]",Unknown,http://www.vail.snow.com,-106.358053,39.609920
1,Telluride,https://www.skiresort.info/ski-resort/telluride/,169.0,Mountain Village,Colorado,88.2,6.7,51.7,29.8,"[-107.83598933345762, 37.92046244915704]",Colorado,http://tellurideskiresort.com/,-107.835989,37.920462
2,Beaver Creek,https://www.skiresort.info/ski-resort/beaver-c...,218.0,Beaver Creek Village,Colorado,150.0,28.5,64.5,57.0,NaN,NaN,NaN,NaN,NaN
3,Mammoth Mountain,https://www.skiresort.info/ski-resort/mammoth-...,209.0,Mammoth Lakes,Mammoth Lakes,89.8,18.4,48.5,22.9,"[-119.02132555986691, 37.64096495905402]",California,http://www.mammothmountain.com/,-119.021326,37.640965
4,Snowmass,https://www.skiresort.info/ski-resort/snowmass/,199.0,Snowmass Village,Aspen Snowmass,237.0,12.0,114.0,111.0,"[-106.95106028636194, 39.18914819590207]",Colorado,http://www.aspensnowmass.com,-106.951060,39.189148

In [12]:
#  fillna with 'Empty' for future manipulations

full_resort_data_df = full_resort_data_df.fillna('Empty')

In [13]:
# Set up connection to DB
db_path = f'postgresql://postgres:{postgrepass}@localhost:5432/SkiResorts'
engine = create_engine(db_path)
conn = engine.connect()

In [14]:
# Upload data to DB 
full_resort_data_df.to_sql('resorts_info', conn, if_exists='replace')
locations_df.to_sql('locations', conn, if_exists='replace')

In [15]:
full_resort_data_df.to_csv('resorts_info.csv')